body{
	background-color: #212121;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}


#div_Out{
	background-color: red;
	height: 10rem;
	width: 10rem;
	border-radius: 1rem;
	border:  2px  solid  blue ;
	box-sizing:border-box;
	padding: 10px;
	display: flex;
    justify-content: space-evenly;
	
}


#div_In {
  background-color: yellow;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: .4rem;
}

h1{
	background-color: yellow;
	display: inline;
} 